<h2>Login</h2>
<form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
  <input type="email" [(ngModel)]="loginForm.email" name="email" required />
  <input [(ngModel)]="loginForm.password" name="password" required [type]="showPassword ? 'text' : 'password'" />
  <button type="button" (click)="togglePasswordVisibility()">
    {{ showPassword ? 'Hide' : 'Show' }} Password
  </button>
  <button type="submit" [disabled]="loading">Login</button>
  <div *ngIf="message">{{ message }}</div>
</form>
<p>{{ message }}</p>
<!-- <div *ngIf="loading">Logging in...</div> -->
<div id="google-button" style="margin-top: 10px;"></div>