<div class="auth-wrapper">
    <div class="auth-container">
        <header class="auth-header">
            <h1 class="brand-highlight">Email Verification</h1>
            <div class="subtext">
                <span style="padding-right: 3px;">Enter your email to receive a verification code</span>
                <mat-icon>email</mat-icon>
            </div>
        </header>

        <!-- Email Verification Form -->
        <section class="form-section">
            <h2>Verify Email</h2>
            <form #verifyFormRef="ngForm" (ngSubmit)="onVerifySubmit(verifyFormRef)" novalidate>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="verifyForm.email" #verifyEmail="ngModel"
                        required email autocomplete="email" [readonly]="showOtpInput" />
                    <mat-error *ngIf="verifyEmail.errors?.['required']">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="verifyEmail.errors?.['email']">
                        Enter a valid email.
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="showOtpInput" appearance="outline" class="full-width">
                    <mat-label>OTP</mat-label>
                    <input matInput type="password" name="OTP" [(ngModel)]="verifyForm.otp" #verifyOTP="ngModel"
                        [type]="showOTP ? 'text' : 'password'" required>
                    <button mat-icon-button matSuffix type="button" (click)="showOTP = !showOTP"
                        [attr.aria-label]="showOTP ? 'Hide password' : 'Show password'">
                        <mat-icon>{{ showOTP ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="verifyOTP.errors?.['required']">
                        OTP is required.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width" type="submit"
                    [disabled]="loading || verifyFormRef.invalid">
                    {{
                    showOtpInput
                    ? (loading ? 'Verifying...' : 'Verify OTP')
                    : (loading ? 'Sending...' : 'Verify Email' )
                    }}
                </button>
            </form>
        </section>

        <!-- Message -->
        <p class="message" *ngIf="message">{{ message }}</p>
    </div>
</div>